
/*style.css >> index.html*/

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: Azure;
}

.contact a {
    style=display:inline-block; 
    font-size: 150%;
    text-decoration: none;
    color: blue;
    padding: 75px;
}

hr {
  border: 2px solid black;
  margin-left: 20px;
  margin-right: 20px;
}

.summary h2 {
  text-align: left;
  margin-left: 60px;
  font-size: 150%;
  padding-top: 15px;
  text-decoration: underline;
}

.skills h2, .ms-work h2, .education h2 {
  font-size: 150%;
  padding-top: 15px;
  text-decoration: underline;
}
.skills {
  text-align: left;
  margin-left: 60px;
}
.ms-work, .atos-work, .auto-work, .education {
  text-align: left;
  margin-left: 60px;
  margin-right: 80px;
}
.cyber {
    padding: 15px;
}